.navbar-default {
    background-color: #0078c8;
    border-color: #0078c8;
    margin-bottom: 0;
}

.navbar-default .navbar-brand { color: #ffffff; }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: #dddddd; }

.navbar-default .navbar-text { color: #ffffff; }

.navbar-default .navbar-nav > li > a { color: #ffffff; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #dddddd; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #dddddd;
    background-color: #0078c8;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #dddddd;
    background-color: #0078c8;
}

.navbar-default .navbar-toggle { border-color: #0078c8; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #0078c8; }

.navbar-default .navbar-toggle .icon-bar { background-color: #ffffff; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color: #ffffff; }

.navbar-default .navbar-link { color: #ffffff; }

.navbar-default .navbar-link:hover { color: #dddddd; }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #ffffff; }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { color: #dddddd; }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #dddddd;
        background-color: #0078c8;
    }
}

.navbar-inverse {
    background-color: #000000;
    border-color: #000000;
    border-radius: 0;
    height: 30px;
    min-height: 30px;
    font-size: 1.7rem;
    width: 100%;
}

.navbar-inverse .navbar-brand { color: #ffffff; }

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus { color: #d4d4d4; }

.navbar-inverse .navbar-text { color: #ffffff; }

.navbar-inverse .navbar-nav > li > a { color: #ffffff; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: #d4d4d4; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #d4d4d4;
    background-color: #000000;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #d4d4d4;
    background-color: #000000;
}

.navbar-inverse .navbar-toggle { border-color: #000000; }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: #000000; }

.navbar-inverse .navbar-toggle .icon-bar { background-color: #ffffff; }

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form { border-color: #ffffff; }

.navbar-inverse .navbar-link { color: #ffffff; }

.navbar-inverse .navbar-link:hover { color: #d4d4d4; }

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #ffffff; }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus { color: #d4d4d4; }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #d4d4d4;
        background-color: #000000;
    }

    .nav > li { border-bottom: 1px solid darkgrey; }

    .nav > li > a {
        color: #000000;
        font-weight: bold;
        font-size: 0.95em;
    }

    .nav > li > form > a {
        color: #000000;
        display: block;
        padding: 10px 15px;
        font-weight: bold;
        font-size: 0.95em;                     
    }
}

ul.navbar-right,
ul.navbar-left {
    margin-left: 0 !important;
    margin-top: -10px !important;
    display: inline-block;
}

.navbar .nav { margin-left: 430px; }



@media (min-width: 768px) {
    .navbar-collapse.collapse { display: none !important }

    .nav > li > form > a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }
}