
.soccertable {
	color:#666;
	font-size:12px;
    margin-top: 30px;
}

.soccertable th {
	padding:21px 25px 22px 25px;
    color: white;
    background: #0078c8;
    text-transform: uppercase;
    font: 12px Arial;
}
.soccertable th:first-child {
	text-align: left;
}
.soccer-table-center tr {
	text-align: center;
	padding-left:20px;
}
.soccertable td:first-child {
	text-align: left;
	border-left: 0;
}
.soccertable td {
	padding:18px;
}

.soccertable tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

table td[class*="span"], table th[class*="span"], .row-fluid table td[class*="span"], .row-fluid table th[class*="span"] {
display: table-cell;
float: none;
margin-left: 0;
}

.txtScore {
display: inline-block;
height: 20px;
margin-bottom: 10px;
font-size: 14px;
line-height: 20px;
color: #555555;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
vertical-align: middle;
border: 1px solid #cccccc;
}

.league-table tbody >tr {
    height: 50px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}


