<!doctype html>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ReturnUrl = "/League";
}
<html ng-app="footballCompApp">
    <head>
        <title>Footbet</title>
    </head>
    <body>
        <div ng-controller="UserBetController as ctl" class="ng-cloak">
            <h1 ng-show="ctl.showSearch">Søk etter spiller (brukernavn)</h1>
            <div class="row" ng-show="ctl.showSearch">
                    <input type="text" class="span6" ng-show="ctl.users.length > 0" ng-model="ctl.selectedUser" typeahead="user.userName for user in ctl.users | filter:$viewValue | limitTo:8 | orderBy:'userName'" class="form-control">
                    <input class="span2" ng-disabled="!ctl.selectedUser" ng-click="ctl.searchUserBet(ctl.selectedUser)" type="submit" value="Søk" />
                    <p class="errorText span4" ng-show="ctl.errorMessage.length > 0">{{ctl.errorMessage}}</p>
            </div>
            <div ng-show="ctl.showUserBet">
                <h2>Resultat for spiller: <span class="headerGroups">{{ctl.selectedUser}}</span></h2>
                @Html.Partial("_userBetPartial")
            </div>
        </div>
    </body>
</html>