<div class="row" ng-controller="LeaderboardController as ctl" ng-show="headerText != ''">
    <div class="headerGroups">{{ctl.headerText}}</div>
    <table class="col-md-8 col-xs-12 col-sm-10 col-lg-8 table-condensed soccertable">
        <thead>
            <tr>
                <th class="hidden-xs">Posisjon</th>
                <th class="visible-xs">Pos.</th>
                <th>Navn</th>
                <th class="hidden-xs">Brukernavn</th>
                <th class="hidden-xs">Gruppespillpoeng</th>
                <th class="visible-xs">Gruppespill</th>
                <th class="hidden-xs">Sluttspillpoeng</th>
                <th class="visible-xs">Sluttspill</th>
                <th class="hidden-xs">Poeng totalt</th>
                <th class="visible-xs">Poeng</th>
            </tr>   
        </thead>
        <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="user in ctl.leaderboard | orderBy: '-points'">
            <td>{{user.position}}</td>
            <td><a href="/UserBet?username={{user.userName}}" ng-click="ctl.showUserBet(user.userName)">{{user.name}}</a></td>
            <td class="hidden-xs">{{user.userName}}</td>
            <td>{{user.points - user.playoffScore}}</td>
            <td>{{user.playoffScore}}</td>
            <td>{{user.points}}</td>
        </tr>
    </table>
</div>