@{
    ViewBag.Title = "Administrer konto";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_ChangePasswordPartial")
    </div>
</div>
