@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ReturnUrl = "/League";
}
<div ng-app="footballCompApp">
    <div ng-controller="BetController as ctl">
        <form ng-submit="save()">
            <h2>Opprett ditt spill <span class="errorText" ng-show="ctl.numberOfIncompleteGames > 0">{{ctl.userBetIncompleteMessage}}</span></h2>
            <div ng-show="ctl.betBaseController.groups">
                @Html.Partial("_betPartial")
            </div>
        </form>
    </div>
</div>