<div class="ng-cloak">
    <div class="row">
        <div class="span6">
            <div class="headerPlayoffs span3">Gruppespill</div>
        </div>
    </div>
    <div class="row" ng-repeat="group in ctl.betBaseController.groups">

        <div class="span6">
            <div class="headerGroups span3">{{group.name}}</div>
            <table class="span6 table-condensed scoreInputTable">
                <tr ng-repeat="game in group.games" >
                    <td class="hidden-xs hidden-sm">{{game.startTime}}</td>
                    <td class="text-right">
                        {{game.homeTeam.name}}
                        <span class="flag {{game.homeTeam.flag}}"></span>

                    </td>
                    <td class="text-center">
                        <input class="txtScore" type="number" min="0" max="99" ng-required="game.awayGoals" ng-change="ctl.betBaseController.scoreChanged(group, game)" ng-model="game.homeGoals" />
                        <input class="txtScore" type="number" min="0" max="99" ng-required="game.homeGoals" ng-change="ctl.betBaseController.scoreChanged(group, game)" ng-model="game.awayGoals" />
                    </td>
                    <td class="text-left">
                        <span class="flag {{game.awayTeam.flag}}"></span>
                        {{game.awayTeam.name}}
                    </td>
                </tr>
            </table>
        </div>

        <table class="span3 table-condensed soccer-table-center soccertable offset1">
            <thead>
            <tr>
                <th></th>
                <th>Lag</th>
                <th>+</th>
                <th>-</th>
                <th>+/-</th>
                <th>Poeng</th>
            </tr>
            </thead>
            <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="team in group.teams">
                <td class="text-left">{{$index+1}}</td>
                <td class="text-left"><span class="flag {{team.flag}}"></span> {{team.name}}</td>
                <td>{{team.goalsScored}}</td>
                <td>{{team.goalsConceded}}</td>
                <td>{{team.sumGoals}}</td>
                <td>{{team.points}}</td>
            </tr>
        </table>

    </div>

    <div class="row">
        <div class="span6">
            <div class="headerPlayoffs span3">Finalespill</div>
        </div>
    </div>

    <div class="span7">
        <div class="row"></div>
        <table id="playoff-table" class="table-condensed">
            <tr ng-repeat-start="playoffGame in ctl.betBaseController.playoffGames">
                <td class="subHeaderPlayoffs" ng-if="ctl.betBaseController.playoffGames[$index].gameType != ctl.betBaseController.playoffGames[$index-1].gameType">{{ctl.betBaseController.playoffTypes[playoffGame.gameType]}}</td>
            </tr>
            <tr ng-repeat-end style="line-height: 35px;">
                <td class="hidden-xs hidden-sm">{{playoffGame.startTime}}</td>
                <td></td>
                <td class="text-right" ng-hide="playoffGame.homeTeam">
                    {{playoffGame.playoffGameDetails.homeTeamDisplayName}}
                </td>
                <td class="text-center" ng-show="playoffGame.homeTeam && !playoffGame.awayTeam">
                    <span class="flag {{playoffGame.homeTeam.flag}}"></span>
                    {{playoffGame.homeTeam.name}}
                </td>
                <td class="text-center" ng-show="playoffGame.homeTeam && playoffGame.awayTeam">
                    <button type="button"
                            class="btn btn-hometeam {{playoffGame.homeGoals > playoffGame.awayGoals ? 'winner-playoff-game' : (playoffGame.homeGoals < playoffGame.awayGoals ? 'loser-playoff-game' : '')}}"
                            ng-click="ctl.betBaseController.playoffHomeTeamSelected(playoffGame)"
                            ng-disabled="!playoffGame.homeTeam.name || !playoffGame.awayTeam.name">
                        {{playoffGame.homeTeam.name}}
                        <span class="flag {{playoffGame.homeTeam.flag}}"></span>
                    </button>
                </td>
                <td class="text-center" ng-show="playoffGame.homeTeam && playoffGame.awayTeam">
                    <button type="button" class="btn btn-awayteam {{playoffGame.awayGoals > playoffGame.homeGoals ? 'winner-playoff-game' : (playoffGame.awayGoals < playoffGame.homeGoals ? 'loser-playoff-game' : '')}}"
                            ng-click="ctl.betBaseController.playoffAwayTeamSelected(playoffGame)"
                            ng-disabled="!playoffGame.homeTeam.name || !playoffGame.awayTeam.name">
                        <span class="flag {{playoffGame.awayTeam.flag}}"></span>
                        {{playoffGame.awayTeam.name}}
                    </button>
                </td>
                <td class="text-left" ng-hide="playoffGame.awayTeam">
                    {{playoffGame.playoffGameDetails.awayTeamDisplayName}}
                </td>
                <td class="text-center" ng-show="playoffGame.awayTeam && !playoffGame.homeTeam">
                    <span class="flag {{playoffGame.awayTeam.flag}}"></span>
                    {{playoffGame.awayTeam.name}}
                </td>

            </tr>
            
        </table>
        <div class="row">
            <input class="save-bet-btn span2" ng-disabled="!ctl.betBaseController.modelChanged" ng-attr-title="{{!ctl.betBaseController.modelChanged && 'Gjør endring for å lagre' || '' }}" type="submit" value="Lagre"/>
            <p class="errorText span4" ng-show="ctl.betBaseController.errorMessage.length > 0">{{ctl.betBaseController.errorMessage}}</p>
            <p class="text-success span4" ng-show="ctl.betBaseController.successMessage.length > 0">{{ctl.betBaseController.successMessage}}</p>
        </div>
    </div>
</div>