<table class="col-lg-3 col-xs-12 table-condensed soccer-table-center soccertable offset1">
	<thead>
	<tr>
		<th></th>
		<th>Lag</th>
		<th>+</th>
		<th>-</th>
		<th>+/-</th>
		<th>Poeng</th>
	</tr>
	</thead>
	<tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="team in group.teams">
		<td class="text-left">{{$index+1}}</td>
		<td class="text-left"><span class="flag {{team.flag}}"></span> {{team.name}}</td>
		<td>{{team.goalsScored}}</td>
		<td>{{team.goalsConceded}}</td>
		<td>{{team.sumGoals}}</td>
		<td>{{team.points}}</td>
	</tr>
</table>
