
<h2>Regler</h2>

<h3>Gruppespill</h3>
<div>Riktig resultat - <strong>10 poeng</strong></div>
<div>Riktig utfall, samt riktig antall mål for ett av lagene - <strong>7 poeng</strong></div>
<div>Riktig utfall - <strong>5 poeng</strong></div>
<div>Riktig antall mål for et av lagene - <strong>2 poeng</strong></div>

<div>Det gis i tillegg <strong>2 bonuspoeng</strong> dersom du tipper riktig resultat og færre en 2% av alle spillere har tippet samme resultat.</div>

<h3>Finalespill</h3>
<div><strong>6 poeng</strong> per riktige lag i 8-delsfinale</div>
<div><strong>10 poeng</strong> per riktige lag i kvartfinale</div>
<div><strong>15 poeng</strong> per riktige lag i semifinale</div>
<div><strong>15 poeng</strong> for riktig bronsevinner</div>
<div><strong>20 poeng</strong> for riktig sølvvinner</div>
<div><strong>30 poeng</strong> for riktig vinner</div>

<h3>Toppscorer</h3>
<div><strong>15 poeng</strong> for riktig toppscorer</div>

<br/>
<div><strong>Totalt mulig oppnådde poeng i gruppespill: 480 </strong></div>
<div><strong>Totalt mulig oppnådde poeng i finalespill:  301 </strong></div>
<div><strong>Totalt mulig oppnådde poeng på toppscorerspill: 15 </strong></div>
<div><strong>Totalt: 796 (pluss eventuelle bonuspoeng)</strong></div>
