<div class="row">
    <div class="headerGroups">Dine ligaer</div>
    <table class="col-md-8 col-xs-12 col-sm-10 col-lg-8 table-condensed soccertable league-table">
        <thead>
            <tr>
                <th>Liga</th>
                <th>Din plassering</th>
                <th>Antall medlemmer</th>
                <th>Ligakode</th>
            </tr>
        </thead>
        <tr ng-class-odd="'odd'" ng-click="showLeague(league)" ng-class-even="'even'" ng-repeat="league in leagues">
            <td><b>{{league.name}}</b></td>
            <td>{{league.currentUsersPosition}}</td>
            <td>{{league.numberOfMembers}}</td>
            <td><span ng-hide="league.guid == 'DefaultLeague'">{{league.guid}}</span></td>
        </tr>

    </table>
</div>
@Html.Partial("../Leaderboard/_Leaderboard")
