<!DOCTYPE html>
<html ng-app="footballCompApp">
<head>
    <meta charset="utf-8" />
</head>
<body >
    <div ng-controller="LeagueController as ctl" class="ng-cloak">
        <div ng-show="ctl.leagues.length > 0">@Html.Partial("_ManageLeaguesView")</div>
        <div class="row top-buffer">@Html.Partial("_JoinLeagueView")</div>
    </div>
</body>
</html>
