<!doctype html>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ReturnUrl = "/Bet";
}
<html ng-app="footballCompApp">
    <head>

    </head>
    <body>
        <div ng-controller="ResultController as ctl">
            <h4>Registrer resultater</h4>
            <hr />
                <form ng-submit="ctl.saveResultBets()">
                    @Html.Partial("_resultBetPartial")
                </form>
                {{message}}
        </div>
    </body>
</html>